@font-face {
  font-family: 'Bahij_Plain';
  src: url(../fonts/Bahij_Plain.ttf);
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  padding: 20px;
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #252c4a;
  background-attachment: fixed;
}

.step {
  width: 20px;
  height: 20px;
  padding: 0;
}

.step.active {
  background: #ffc533 !important;
  background: linear-gradient(to left, #ffc533, #ffeb3b) !important;
}

.step.finish {
  background: #0e9259 !important;
  background: linear-gradient(to left, #0e9259, #4caf50) !important;
}

.multisteps_form_panel {
  display: none;
  /* background: #fff; */
  border-radius: 25px;
  width: max-content;
  margin: 0 auto;
  padding: 20px;
  border: 5px solid #5868b1;
}

.question_number {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
  font-size: 21px;
  color: #ffffff;
  margin-top: -47px;
  background: #5868b1;
  padding: 5px 30px;
  border-radius: 50px;
  margin-bottom: 25px;
  text-transform: capitalize;
}

.question_number em {
  font-style: normal;
  letter-spacing: 4px;
}

span {
  color: #5868b1;
  font-size: 1.25rem;
  padding-bottom: 1rem;
  -webkit-transition: 0.8s cubic-bezier(0.25, 1, 0.5, 1);
  transition: 0.8s cubic-bezier(0.25, 1, 0.5, 1);
}

h1 {
  color: #000a38;
  font-size: 4.204375rem;
}

.f_btn {
  color: #ffffff;
  font-size: 20px;
  padding: 7px 45px;
  outline: none;
  background-color: #107eeb;
  -webkit-transition: 0.8s cubic-bezier(0.25, 1, 0.5, 1);
  transition: 0.8s cubic-bezier(0.25, 1, 0.5, 1);
  border-radius: 7px;
  border: 1px solid #107eeb;
}

.f_btn:hover {
  background-color: #214466;
  border: 1px solid #214466;
}

.f_prev {
  background-color: #214466;
  border: 1px solid #214466;
}

.f_prev:hover {
  background-color: #107eeb;
  border: 1px solid #107eeb;
}

body {
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.65;
  font-style: normal;
  font-display: swap;
  font-family: 'Bahij_Plain', sans-serif;
  background-color: #ffffff;
  direction: rtl;
}

a,
button,
input {
  cursor: pointer;
  text-decoration: none;
}

a:hover,
button:hover,
input:hover {
  text-decoration: none;
}

a:focus,
button:focus,
input:focus {
  outline: none;
}

ul>li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

img {
  max-width: 100%;
  height: auto;
}

.animate_50ms {
  -webkit-animation-delay: 50ms;
  animation-delay: 50ms;
}

.animate_100ms {
  -webkit-animation-delay: 100ms;
  animation-delay: 100ms;
}

.animate_150ms {
  -webkit-animation-delay: 150ms;
  animation-delay: 150ms;
}

.animate_200ms {
  -webkit-animation-delay: 200ms;
  animation-delay: 200ms;
}

.animate_250ms {
  -webkit-animation-delay: 250ms;
  animation-delay: 250ms;
}


/* abdo */
.rating {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
  margin: 0;
}

.rating li .input-hidden {
  display: none;
}

.rating li input[type=radio]+label>img {
  width: 35px;
  height: 35px;
  transition: 500ms all;
  filter: grayscale(1);
}

.rating li input[type=radio]:checked+label {
  filter: unset;
  background: #ffffff24;
}

.rating li input[type=radio]:checked+label>img {
  filter: unset;
}

.rating li label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  filter: grayscale(1);
  border-radius: 5px;
  padding: 5px 10px;
  padding-bottom: 3px;
}

.rating li label span {
  padding: 0;
  font-size: 15px;
  color: #cbcbcb;
}

.rating li label span em {
  font-style: normal;
  white-space: nowrap;
}

.rating li label span b {
  font-weight: normal;
}

.rating li input[type=radio]:checked+label>span {
  color: #fff;
}

.question_title {
  font-weight: normal;
  margin-bottom: 18px;
  text-align: center;
  font-size: 21px;
  color: #ffffff;
}

.form_btn {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  gap: 20px;
}

.questions {
  background: #ffffff0d;
  border-radius: 10px;
  padding: 15px 30px;
  width: 850px;
  margin: 0 auto;
  margin-bottom: 15px;
  border: 5px solid #ffffff0a;
}

.questions:last-child {
  margin-bottom: 0;
}

.step_progress {
  display: flex;
  gap: 15px;
  margin-bottom: 35px;
  justify-content: center;
}

.com-name {
  border-top: 1px solid #dddddd21;
  padding-top: 15px;
  color: #fff;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  width: max-content;
  margin: 0 auto;
  margin-top: 30px;
}

.com-name p {
  margin: 0;
}

ul.social-header {
  position: fixed;
  top: 0;
  left: 15px;
  z-index: 6;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center
}

ul.social-header li {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

ul.social-header li a {
  display: inline-block;
  background-color: #fff;
  width: 40px;
  height: 40px;
  line-height: 36px;
  text-align: center;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  outline: auto #ddd;
}

.call-whatsapp {
  position: fixed;
  bottom: 0;
  right: 15px;
  z-index: 6;
  padding: 0;
  list-style: none;
}

.call-whatsapp li {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.call-whatsapp li a {
  display: inline-block;
  width: 43px;
  height: 43px;
  line-height: 36px;
  text-align: center;
  position: relative;
  border-radius: 50%;
}

.header {
  text-align: center;
}

.header img {
  height: 100px;
  border-radius: 50%;
  width: 100px;
  margin-bottom: 13px;
  box-shadow: rgb(255 255 255 / 22%) 0px 0px 0px 4px;
}

.header h3 {
  color: #fff;
  margin-bottom: 5px;
  font-weight: normal;
}

.header p {
  color: #fff;
  margin-bottom: 25px;
}

/* ================================================== */
@media (max-width: 1199.98px) {
  .header h3 {
    font-size: 25px;
  }

  .header p {
    margin-bottom: 15px;
  }

  .step_progress {
    gap: 10px;
  }

  .step {
    width: 16px;
    height: 16px;
  }

  .question_number {
    font-size: 19px;
    margin-top: -43px;
    padding: 4px 30px;
    margin-bottom: 15px;
  }

  ul.social-header li a,
  .call-whatsapp li a {
    width: 35px;
    height: 35px;
    line-height: 34px;
  }

  .question_title {
    font-size: 19px;
    margin-bottom: 15px;
  }

  .questions {
    padding: 10px;
    width: 810px;
    border: 4px solid #ffffff0a;
  }

  .rating li input[type=radio]+label>img {
    width: 32px;
    height: 32px;
  }

  .multisteps_form_panel {
    border-radius: 15px;
    padding: 20px 10px 10px;
    border: 4px solid #5868b1;
  }

  .f_btn {
    font-size: 19px;
    padding: 4px 25px;
  }

  .form_btn {
    margin-top: 25px;
    gap: 15px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 100%;
  }

  .header img {
    height: 85px;
    width: 85px;
    margin-bottom: 10px;
  }

  .wrapper {
    padding: 15px;
  }

  .header h3 {
    font-size: 21px;
  }

  .header p {
    margin-bottom: 10px;
  }

  .rating {
    gap: 10px;
  }

  .questions {
    width: auto;
    border: 3px solid #ffffff0a;
    margin-bottom: 10px;
  }

  .multisteps_form_panel {
    width: 100%;
  }

  ul.social-header li a {
    width: 32px;
    height: 32px;
    line-height: 32px;
  }

  .question_title {
    font-size: 18px;
    margin-bottom: 12px;
  }

  .f_btn {
    font-size: 18px;
    padding: 3px 25px;
  }

  .form_btn {
    margin-top: 20px;
  }
  .rating li label span {
    text-align: center;
    line-height: 20px;
  }
  .rating li label span b {
    display: none;
  }
  .rating li label span em {
    display: block;
  }
  .rating li {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .header h3 {
    font-size: 19px;
    margin-bottom: 3px;
}
.header p {
  margin-bottom: 7px;
  font-size: 15px;
}
.step {
  width: 13px;
  height: 13px;
}
.question_number {
  font-size: 18px;
  margin-top: -39px;
  padding: 2px 30px;
}
.step_progress {
  gap: 7px;
  margin-bottom: 30px;
}
.question_title {
  font-size: 17px;
  margin-bottom: 10px;
}
.multisteps_form_panel {
  border: 3px solid #5868b1;
  width: 100%;
}
.questions {
  width: auto;
  border: 3px solid #ffffff0a;
}
.header img {
  height: 75px;
  width: 75px;
  box-shadow: rgb(255 255 255 / 22%) 0px 0px 0px 3px;
}
ul.social-header {
  position: absolute;
  top: 10px;
  left: 10px;
  justify-content: flex-start;
}
ul.social-header li a {
  width: 26px;
  height: 26px;
  line-height: 26px;
  outline: unset;
  box-shadow: 0 0 0 2px #fff;
}
ul.social-header li {
  gap: 11px;
}
.call-whatsapp li {
  gap: 10px;
}
.call-whatsapp li a {
  width: 32px;
  height: 32px;
  line-height: 32px;
}
}

@media (max-width: 575px) {
  .call-whatsapp {
    position: relative;
    top: 0;
    right: 0;
    margin: 0;
  }

  .call-whatsapp li {
    flex-direction: row;
    gap: 11px;
}

  ul.social-header {
    position: relative;
    top: 0;
    left: 0;
    justify-content: end;
    align-items: center;
    flex-direction: row;
    margin: 0;
    width: max-content;
}

ul.social-header li {
  flex-direction: row;
}
.flex-sm {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}
.rating li label span {
  font-size: 14px;
  line-height: 18px;
}
.rating li input[type=radio]+label>img {
  width: 28px;
  height: 28px;
}
.question_number {
  font-size: 17px;
  padding: 2px 20px;
  margin-top: -38px;
}
.header h3 {
  font-size: 18px;
}
.question_title {
  font-size: 16px;
  line-height: 24px;
}
.f_btn {
  font-size: 17px;
  padding: 2px 20px;
}
.form_btn {
  margin-top: 15px;
}
.wrapper {
  padding: 15px 0 10px;
}
}

@media (max-width: 450px) {
  .header h3 {
    font-size: 16px;
}
.header p {
  margin-bottom: 5px;
  font-size: 14px;
}
.question_number {
  font-size: 16px;
  padding: 1px 20px;
  margin-top: -36px;
}.step_progress {
  gap: 6px;
  margin-bottom: 25px;
}
.rating {
  gap: 2px;
  flex-direction: column;
}
.rating li label span b {
  display: inline-block;
}
.rating li label span em {
  display: inline-block;
}
.rating li label span {
  display: flex;
  gap: 5px;
}
.rating li label {
  flex-direction: row;
  justify-content: flex-start;
  gap: 7px;
  padding-bottom: 5px;
}
.call-whatsapp li a {
  width: 28px;
  height: 28px;
  line-height: 28px;
}
ul.social-header li a {
  width: 25px;
  height: 25px;
  line-height: 25px;
}
.f_btn {
  font-size: 16px;
  padding: 2px 15px;
}
.header img {
  height: 61px;
  width: 61px;
}
.question_title {
  text-align: right;
}
}